.topo {
    align-items: center;
    background-image: url("/assets/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    height: 500px;
    width: 100%;
}

.subtopo {
    text-align: center;
}

.img {
    width: 200px;
    height: 200px;
}

.produtos {
    margin-left: 32px;
    margin-bottom: 10px;
    border-radius: 10%;
    border: solid 2px rgba(0, 0, 0, 0.5);
    display: inline-block;
    width: 30%;
    height: 60%;
    text-align: center;
}
.paginaprodutos {
    align-items: center;
}